<!DOCTYPE html>
<html>
<head>
    <title>Acadlytics Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="login-box">

        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">

        <p class="text">Sign in to continue</p>

        <form method="POST">

            <label>Username</label>
            <input
                type="text"
                name="username"
                placeholder="Enter username"
            >

            <label>Password</label>
            <input
                type="password"
                name="password"
                placeholder="Enter password"
            >

            <button type="submit">Login</button>

        </form>

    </div>

</body>
</html>